body, html {
  height: 100%;
}

.hero-image {
  /* The image used */
 img src="./assets/users";

  /* Full height */
  height: 100%;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .footer is "position: fixed", so it stays fixed to the bottom of the window and not the bottom of the form/container */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: darkblue;
  border-top: 10px bold rebeccapurple;
  text-align: center;
}
